{% extends 'main/base.html' %}
{% block title %}Create a new List{% endblock %}
{% block content %}
<h3>Heart Disease Prediction Model</h3>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Three Sections Page</title>
    <style>
         @media (max-width:480px) {  
            header {  
            padding:15px;  
            }  
        }
      
        .slider {
            width: 100%;
        }
        
    </style>
</head>
<body>
    <div class="container-fluid" >
        <div class="row" style="width: 100%;">
            <!-- Section 1: 7 Select Sliders -->
            <div class="col" style="background-color: white; border-radius: 10px; margin-right: 10px; margin-top: 10px;">
                <h2  style="padding-top:10px ;flex: auto;">Select Parameters</h2>
                <form>
                    <div class="form-group d-flex align-items-center" style="padding-top: 10px;">
                        <label for="slider1" style="margin-right:20px;">Age</label>
                        <input type="range" class="slider" id="slider1" min="18" max="100" oninput="updateValue('slider1')" style="margin-right: 20px;">
                        <span id="slider1Value">36</span>
                    </div>
                    <div class="form-group d-flex align-items-center">  
                        <label for="slider2" style="margin-right:20px;">Sex</label>          
                        <select class="form-select" id="slider2" aria-label="Default select example" onchange="updateValue('slider2')"
                                style="margin-right: 20px; width: 80%; border-radius: 10px; background-color:#d2e0e0; ">
                            <option selected value="0">0</option>
                            <option value="1">1</option>
                        </select>
                        <span id="slider2Value"></span>  
                    </div>
                    <div  class="form-group d-flex align-items-center">    
                        <div><label for="slider3" style="margin-right:20px;">cp</label> </div>         
                        <select class="form-select" id="slider3" aria-label="Default select example" onchange="updateValue('slider3')" 
                                style="margin-right: 20px; width: 80%; border-radius: 10px; background-color:#d2e0e0; " >
                            <option selected value="1">1</option>
                            <option value="2">2</option>
                            <option value="50">50</option>
                        </select>
                        <span id="slider3Value"></span> 
                    </div>    
                    <div class="form-group d-flex align-items-center" style="padding-top: 10px;">
                        <label for="slider4" style="margin-right:20px;">trestbps</label>
                        <input type="range" class="slider" id="slider4" min="90" max="200" oninput="updateValue('slider4')" style="margin-right: 20px;">
                        <span id="slider4Value">110</span>
                    </div> 
                    <div class="form-group d-flex align-items-center" style="padding-top: 10px;">
                        <label for="slider5" style="margin-right:20px;">chol</label>
                        <input type="range" class="slider" id="slider5" min="172.0" max="231.0" oninput="updateValue('slider5')" style="margin-right: 20px;">
                        <span id="slider5Value">201.0</span>
                    </div> 
                    <div  class="form-group d-flex align-items-center">    
                        <div><label for="slider6" style="margin-right:20px;">fbs</label> </div>         
                        <select class="form-select" id="slider6" aria-label="Default select example" onchange="updateValue('slider6')" 
                                style="margin-right: 20px; width: 80%; border-radius: 10px; background-color:#d2e0e0; " >
                            <option selected value="0">0</option>
                            <option value="50">50</option>
                        </select>
                        <span id="slider6Value">0</span> 
                    </div>    
                    <div  class="form-group d-flex align-items-center">    
                        <div><label for="slider7" style="margin-right:20px;">restecg</label> </div>         
                        <select class="form-select" id="slider7" aria-label="Default select example" onchange="updateValue('slider7')" 
                                style="margin-right: 20px; width: 80%; border-radius: 10px; background-color:#d2e0e0; " >
                            <option selected value="0">0</option>
                            <option value="50">50</option>
                        </select>
                        <span id="slider7Value">0</span> 
                    </div>    
                    <button type="submit" name="save" class="btn btn-success" style="margin-bottom: 10px; float: inline-end;">Predict Results</button>
                </form>
            </div>
            <div class="col" style="background-color: white; border-radius: 10px; margin-right: 10px; margin-top: 10px;">
                <div class="col">
                    <h2>Result</h2>
                    <p id="result">Results will be displayed here...</p>
                </div>
                <div class="col">
                    <h2>asasdsa</h2>
                    <img id="plot" src="" alt="live plot" style="width: 90%;">
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ws;
        var sliders = [];
        function connectWebSocket() {
            var loc = window.location;
            var wsStart = (loc.protocol === "https:") ? "wss://" : "ws://";
            var endpoint = wsStart + loc.host + "/ws/plot_update/";

            ws = new WebSocket(endpoint);
            console.log(ws);
            ws.onopen = function() {
                console.log('WebSocket connection opened.');
                updateChart(); // Initial chart update
            };

            ws.onmessage = function(event) {
                var data = JSON.parse(event.data);
                var plot = document.getElementById('plot');
                if (plot) {
                    plot.src = 'data:image/png;base64,' + data.plot;
                } else {
                    console.log("Element 'plot' not found");
                }
            };

            ws.onclose = function() {
                console.log('WebSocket connection closed. Reconnecting...');
                setTimeout(connectWebSocket, 1000); // Reconnect after 1 second
            };

            ws.onerror = function(error) {
                console.log('WebSocket error: ' + error.message);
                ws.close();
            };
        }

        connectWebSocket();
        function updateValue(sliderId) {
            var slider = document.getElementById(sliderId);
            var valueSpan = document.getElementById(sliderId + 'Value');
            valueSpan.innerHTML = slider.value;
            updateChart();
        }
        function updateChart() {
            sliders.length=0;
            for (var i = 1; i <= 7; i++) {
                sliders.push(Number(document.getElementById('slider' + i).value));
            }
            if (ws.readyState === WebSocket.OPEN) {
                ws.send(JSON.stringify({
                    'x': [1, 2, 3, 4, 5, 6, 7],
                    'y': sliders
                }));
            } else {
                console.log("WebSocket is not open: ", ws.readyState);  
            }
        }
       
        
        // Function to update slider values
        
        
    </script>
</body>
</html>
{% endblock %}